{% load static %}
{# 主题相关的 <head> 内容 #}

{# 基础 CSS 变量 #}
<link rel="stylesheet" href="{% static 'css/themes/_variables.css' %}">

{# 当前主题 CSS #}
<link rel="stylesheet" href="{% static theme_css_url %}">

{# 响应式样式 #}
{% if theme_config.enable_mobile_optimization %}
<link rel="stylesheet" href="{% static 'css/themes/_responsive.css' %}">
{% endif %}

{# 自定义 CSS 变量 #}
{% if custom_css %}
<style>
{{ custom_css|safe }}
</style>
{% endif %}

{# 自定义 CSS 覆盖 #}
{% if css_overrides %}
<style>
{{ css_overrides|safe }}
</style>
{% endif %}

{# Favicon #}
{% if theme_config.branding.favicon %}
<link rel="icon" href="{{ theme_config.branding.favicon }}">
{% endif %}
