{% load theme_tags %}
<div class="overflow-x-auto rounded-md border border-white/10 backdrop-blur-2xl bg-white/5">
    <table class="w-full">
        <thead>
            <tr class="bg-white/5 text-white/70 text-xs uppercase border-b border-white/10">
                {% if attrs.headers %}
                    {% for header in attrs.headers|split:"," %}
                    <th class="px-4 py-3 text-left text-sm font-medium text-white/70">{{ header|trim }}</th>
                    {% endfor %}
                {% else %}
                    {{ header }}
                {% endif %}
            </tr>
        </thead>
        <tbody class="divide-y divide-white/5">
            {{ slot }}
        </tbody>
    </table>
</div>
